<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebCrawler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WebCrawler.Properties.Settings>
            <setting name="textBox8" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox9" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox10" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox4" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox5" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox6" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox2" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox3" serializeAs="String">
                <value />
            </setting>
            <setting name="keyword3" serializeAs="String">
                <value />
            </setting>
            <setting name="keyword1" serializeAs="String">
                <value />
            </setting>
            <setting name="keyword2" serializeAs="String">
                <value />
            </setting>
            <setting name="webBox3" serializeAs="String">
                <value />
            </setting>
            <setting name="webBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="webBox2" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox14" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox15" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox16" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox38" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox39" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox40" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox41" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox42" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox43" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox11" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox12" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox13" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox17" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox18" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox19" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox23" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox24" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox25" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox44" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox45" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox46" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox47" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox48" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox49" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox20" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox21" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox22" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox26" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox27" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox28" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox32" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox33" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox34" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox50" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox51" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox52" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox53" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox54" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox55" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox29" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox30" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox31" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox35" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox36" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox37" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox56" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox57" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox58" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox59" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox60" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox61" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox62" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox63" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox64" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox65" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox66" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox67" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox68" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox69" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox70" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox71" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox72" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox73" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox74" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox75" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox76" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox77" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox78" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox79" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox80" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox81" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox82" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox83" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox84" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox85" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox86" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox87" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox88" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox89" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox90" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox91" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox92" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox93" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox94" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox95" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox96" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox97" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox98" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox99" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox100" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox101" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox102" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox103" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox104" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox105" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox106" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox107" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox108" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox109" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox110" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox111" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox112" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox113" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox114" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox115" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox116" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox117" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox118" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox119" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox120" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox121" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox122" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox123" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox124" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox125" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox126" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox127" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox128" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox129" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox130" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox131" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox132" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox133" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox134" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox135" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox136" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox137" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox138" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox139" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox140" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox141" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox142" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox143" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox144" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox145" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox7" serializeAs="String">
                <value />
            </setting>
        </WebCrawler.Properties.Settings>
    </userSettings>
</configuration>